.hole1vh{
    height: 1vh;
    width: 20vw;
}
.holeSwitch{
    width: 20vw;
    height: 2vh;
}
.holeTitle{
    width: 20vw;
    height: 10vh;
}
/* bandeau */

#boxLogo{
    height: 10vh;
    width: auto;
}
#logo{
    width: auto;
    height: 100%;
}
#headband {
    display: flex;
    position: fixed;
    left: 8vw;
    z-index: 1;
    height: 100vh;
    width: 20vw;
    background-color: rgb(255, 251, 0);
    text-align: center;
}

.boxA {
    text-align: left;
}
.boxA>p{
    margin-top: 0.8vh;
}
.boxA>p>a {
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 25px;
    color: black;

}

.clickA {
    text-decoration: underline;
    font-weight: bold;
}

.lulu {
    font-family: 'Lora', serif;
    text-align: left;
    margin: 0 2vw;
}

#txt {
    width: 20vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txt>img {
    width: 20vw;
}

#txt>h1 {
    font-family: 'Lora', serif;
    font-size: 55px;
    text-align: left;
    margin-top: 4vh;
}

#txt>p {
    font-size: 20px;
}

#nm {
    width: 20vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid black;
    border-radius: 80%;
    width: 8vw;
    height: 10vh;
    margin-top: 5vh;
}
.day+.night{
    font-family: 'Lora', serif;
}
#formDay {
    position: absolute;
    left: 2vw;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    /*IE9*/
}

#formNight {
    position: absolute;
    left: 8vw;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    /*IE9*/
    background-color: black;
}
#formNight>h2{
    color: yellow;
}

#nm>.form>h2 {
    font-family: 'Lora', serif;
    font-size: 29px;
}
.title{
    margin: 2vh 0;
}
/* Night mode */
#nightMode{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 1.5vw;
    margin: 0 1vw;
}
/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #414141;
}

input:focus+.slider {
    box-shadow: 0 0 1px #666666;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Language selector */

#language {
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
}
#language>p{
    font-family: 'Lora', serif;
    margin: 0 1vw;
    font-size: 25px;
}

#switchBox{
    position: absolute;
    top: 90vh;
}
.exchange{
    margin-top: 2.5vh;
    font-family: 'Lora', serif;
    text-decoration: underline;
}