*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
}
h1{
    margin: 0;
}
p{margin: 0;}
body::-webkit-scrollbar {
    display: none;
}

/* slider */
.box{
    display: flex;
    padding-left: 10vw;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 340vw;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic>img {
    width: auto;
    height: 80vh;
}

.square {
    position: absolute;
    top: 10vh;
}
#branding{
    margin-left: 20vw;
}

.square>h1 {
    width: 20vw;
    background-color: yellow;
}
.moon{
    background-color: black;
}
.sun{
    background-color: white;
}
.display{
    display: none;
}
.language{
    display: none;
}